Options -Indexes

<IfModule mod_mime.c>
  AddHandler application/x-httpd-php .php .phtml
  AddType application/x-httpd-php .php .phtml
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(html?|php|phtml)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
